port: 30102

user_dn: CN=AD Bind Service Account,OU=ServiceAccounts,OU=GENEVATRADING,DC=genevatrading,DC=com
user_pw: some_password
ldap_server: genevatrading.com

mongo_server: localhost
mongo_port: 27017
mongo_user: some_user
mongo_pw: some_password
