[Unit]
Description=GT Atlas Web Service
Wants=network.target
After=network.target
 
[Service]
User=atlassvc
Type=simple
Restart=on-failure
RestartSec=5s
WorkingDirectory=/opt/gt/hive/atlas/
Environment=PYTHONPATH=/opt/gt/pylib/
ExecStart=/opt/gt/hive/atlas/web.py
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
