<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Assets</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body ng-app="assetsApp">
    <ui-view></ui-view>
    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <script src="/javascripts/angularApp.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <script type="text/ng-template" id="/home.ejs">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                        Assets
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Filter Table" ng-model="search">
                    </div>
                    <br></br>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover text-center">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Details</th>
                                    <th style="text-align:center">Host</th>
                                    <th style="text-align:center">Roles</th>
                                    <th style="text-align:center">Tags</th>
                                    <th style="text-align:center">Env Tag</th>
                                    <th style="text-align:center">IPV4</th>
                                    <th style="text-align:center">ILO IP</th>
                                    <th style="text-align:center">Serial Number</th>
                                    <th style="text-align:center">Product Name</th>
                                    <th style="text-align:center">OS Release</th>
                                    <th style="text-align:center">Allowed Groups</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="asset in assets | orderBy:sortType:sortReverse | filter:search track by $index">
                                    <td class="text-center col-md-1">{{   }}<a href='#/asset?id={{asset.host}}'><button type="button" class="btn btn-primary btn-circle"><i class="fa fa-list"></i>
                                </button></a>
                                    <td>{{asset.host}}</td>
                                    <td>
                                        <table ng-if="checkType(asset['roles'])==='str'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr>
                                            <td>{{ asset['roles'] }}</td>
                                         </tr>
                                        </table>
                                    <table ng-if="checkType(asset['roles'])==='arr'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr ng-repeat="item in asset['roles'] track by $index">
                                            <td>{{ item }}</td>
                                         </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table ng-if="checkType(asset['tags'])==='str'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr>
                                            <td>{{ asset['tags'] }}</td>
                                         </tr>
                                        </table>
                                    <table ng-if="checkType(asset['tags'])==='arr'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr ng-repeat="item in asset['tags'] track by $index">
                                            <td>{{ item }}</td>
                                         </tr>
                                        </table>
                                    </td>
                                    <td>{{asset.env_tag}}</td>
                                    <td>
                                        <table ng-if="checkType(asset['ipv4'])==='str'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr>
                                            <td>{{ asset['ipv4'] }}</td>
                                         </tr>
                                        </table>
                                    <table ng-if="checkType(asset['ipv4'])==='arr'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr ng-repeat="item in asset['ipv4'] track by $index">
                                            <td>{{ item }}</td>
                                         </tr>
                                        </table>
                                    </td>
                                    <td>{{asset.ilo_ip}}</td>
                                    <td>{{asset.serialnumber}}</td>
                                    <td>{{asset.productname}}</td>
                                    <td>{{asset.osrelease}}</td>
                                    <td>
                                        <table ng-if="checkType(asset['allowed_groups'])==='str'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr>
                                            <td>{{ asset['allowed_groups'] }}</td>
                                         </tr>
                                        </table>
                                    <table ng-if="checkType(asset['allowed_groups'])==='arr'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr ng-repeat="item in asset['allowed_groups'] track by $index">
                                            <td>{{ item }}</td>
                                         </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="/asset.ejs">
            <div id="custom-page-wrapper">

                <div class="col-lg-12" ng-repeat="asset in this_asset track by $index">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            {{asset.host}}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">

                                    <tbody ng-repeat="(key, val) in asset">
                                        <tr ng-class='{"info":$index%2==0}'>
                                            <td>{{key}}</td>
                                            <td ng-if="checkType(val)==='str'">{{val}}</td>
                                            <td class="dropdown" ng-if="checkType(val)==='arr'">
                                            <b class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><button type="button" class="btn btn-primary btn-xs">List</button><span class="caret"></span></b>
                                            <ul class="dropdown-menu">
                                            <li ng-repeat="item in val track by $index"><a>{{item}}</a></li>
                                            </ul>
                                            </td>
                                            <td class="dropdown" ng-if="checkType(val)==='dict'">
                                            <b class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><button type="button" class="btn btn-primary btn-xs">Dict</button><span class="caret"></span></b>
                                            <ul class="dropdown-menu">
                                            <li ng-repeat="(key, val) in val"><a>{{key}}: {{val}}</a></li>
                                            </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>


                <div class="col-lg-12" ng-repeat="pillar in this_pillar track by $index">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            Editable Fields
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">

                                    <tbody ng-repeat="(key, val) in pillar">
                                        <tr ng-class='{"info":$index%2==0}'>
                                            <td>{{key}}</td>
                                            <td ng-if="checkType(val)==='str'">
                                            {{val}}
                                            </td>
                                            <td ng-if="checkType(val)==='arr'">
                                            <div class="col-xs-6">
                                                <select ng-model="selected" ng-change="collectElems(selected)" size={{val.length+1}}>
                                                  <option ng-repeat="item in val track by $index" value="{&quot;{{item}}&quot;: {{$index}}}">{{item}}</option>
                                                </select> 
                                            </form>
                                            </div>
                                            </td>
                                            <td class="dropdown" ng-if="checkType(val)==='dict'">
                                            <b class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><button type="button" class="btn btn-primary btn-xs">Dict</button><span class="caret"></span></b>
                                            <ul class="dropdown-menu">
                                            <li ng-repeat="(key, val) in val"><a>{{key}}: {{val}}</a></li>
                                            </ul>
                                            </td>
                                            <td ng-if="checkType(val)==='str'">
                                            <div class="col-xs-6">
                                            <form ng-submit="updateVal(pillar._id, key, val, index, value, false, false)" method="POST">
                                                <input class="form-control" type="hidden" name="host" value={{pillar._id}}>
                                                <input class="form-control" type="hidden" name="key" value={{key}}>
                                                <div class="col-xs-6">
                                                <input class="form-control input-sm" id="inputsm" type="text" name="val" ng-model="value" value=>
                                                </div>
                                                <div class="col-xs-1">
                                                <button type="submit" class="btn btn-primary btn-xs center-block">Change</button>
                                                </div>
                                            </form>
                                            </div>
                                            </td>
                                            <td ng-if="checkType(val)==='arr'">
                                            <div class="col-xs-6">
                                            <form ng-submit="updateVal(pillar._id, key, val, index, value, true, false)" method="POST">
                                                <input class="form-control" type="hidden" name="host" value={{pillar._id}}>
                                                <input class="form-control" type="hidden" name="key" value={{key}}>
                                                <div class="col-xs-6">
                                                <input class="form-control input-sm" id="inputsm" type="text" name="val" ng-model="value" value=>
                                                </div>
                                                <div class="col-xs-1">
                                                <button type="submit" class="btn btn-primary btn-xs center-block">Add</button>
                                                </div>
                                            </form>
                                            </div>
                                            <div class="col-xs-6 col-xs-offset-1">
                                            <form ng-submit="updateVal(pillar._id, key, val, index, value, false, true)" method="POST">
                                                <input class="form-control" type="hidden" name="host" value={{pillar._id}}>
                                                <input class="form-control" type="hidden" name="key" value={{key}}>
                                                <input class="form-control input-sm" id="inputsm" type="hidden" name="val" ng-model="value" value=>
                                                <button type="submit" class="btn btn-primary btn-xs center-block">Remove</button>
                                            </form>
                                            </div>
                                            </td>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
    </script>
</html>
