<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Assets</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body ng-app="assetsApp">
    <ui-view></ui-view>
    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <script src="/javascripts/angularApp.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <script type="text/ng-template" id="/home.ejs">
        <br></br>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                        Assets
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Filter Table" ng-model="search">
                    </div>
                    <br></br>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover text-center">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Details</th>
                                    <th style="text-align:center" ng-click="sortType='host';sortReverse=!sortReverse">
                                        <a href="">Host</a>
                                        <span ng-show="sortType == 'host' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'host' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th style="text-align:center" ng-click="sortType='roles';sortReverse=!sortReverse">
                                    <div class="row">
                                        <div class="col-xs-6"><a href="">Roles</a></div>
                                            <div><span ng-show="sortType == 'roles' && !sortReverse" class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'roles' && sortReverse" class="fa fa-caret-up"></span></div>
                                    </div>
                                    </th>
                                    <th style="text-align:center" ng-click="sortType='tags';sortReverse=!sortReverse">
                                    <a href="">Tags</a>
                                        <span ng-show="sortType == 'tags' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'tags' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th style="text-align:center" ng-click="sortType='env_tag';sortReverse=!sortReverse">
                                    <a href="">Env Tag</a>
                                        <span ng-show="sortType == 'env_tag' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'env_tag' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th style="text-align:center" ng-click="sortType='ipv4';sortReverse=!sortReverse">
                                    <a href="">IPV4</a>
                                        <span ng-show="sortType == 'ipv4' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'ipv4' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th style="text-align:center" ng-click="sortType='ilo_ip';sortReverse=!sortReverse">
                                    <a href="">ILO IP</a>
                                        <span ng-show="sortType == 'ilo_ip' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'ilo_ip' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th style="text-align:center" ng-click="sortType='serialnumber';sortReverse=!sortReverse">
                                    <a href="">Serial Number</a>
                                        <span ng-show="sortType == 'serialnumber' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'serialnumber' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th style="text-align:center" ng-click="sortType='productname';sortReverse=!sortReverse">
                                    <a href="">Product Name</a>
                                        <span ng-show="sortType == 'productname' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'productname' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th style="text-align:center" ng-click="sortType='osrelease';sortReverse=!sortReverse">
                                    <a href="">OS Release</a>
                                        <span ng-show="sortType == 'osrelease' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'osrelease' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th style="text-align:center" ng-click="sortType='allowed_groups';sortReverse=!sortReverse">
                                    <a href="">Allowed Groups</a>
                                        <span ng-show="sortType == 'allowed_groups' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'allowed_groups' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="asset in assets | orderBy:sortType:sortReverse | filter:search">
                                    <td class="text-center col-md-1">{{   }}<a href='#/asset?id={{asset.minion}}'><button type="button" class="btn btn-primary btn-circle"><i class="fa fa-list"></i>
                                </button></a>
                                    <td>{{asset.host}}</td>
                                    <td>
                                        <table ng-if="checkType(asset['roles'])==='str'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr>
                                            <td>{{ asset['roles'] }}</td>
                                         </tr>
                                        </table>
                                    <table ng-if="checkType(asset['roles'])==='arr'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr ng-repeat="item in asset['roles'] track by $index">
                                            <td>{{ item }}</td>
                                         </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table ng-if="checkType(asset['tags'])==='str'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr>
                                            <td>{{ asset['tags'] }}</td>
                                         </tr>
                                        </table>
                                    <table ng-if="checkType(asset['tags'])==='arr'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr ng-repeat="item in asset['tags'] track by $index">
                                            <td>{{ item }}</td>
                                         </tr>
                                        </table>
                                    </td>
                                    <td>{{asset.env_tag}}</td>
                                    <td>
                                        <table ng-if="checkType(asset['ipv4'])==='str'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr>
                                            <td>{{ asset['ipv4'] }}</td>
                                         </tr>
                                        </table>
                                    <table ng-if="checkType(asset['ipv4'])==='arr'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr ng-repeat="item in asset['ipv4'] track by $index">
                                            <td>{{ item }}</td>
                                         </tr>
                                        </table>
                                    </td>
                                    <td>{{asset.ilo_ip}}</td>
                                    <td>{{asset.serialnumber}}</td>
                                    <td>{{asset.productname}}</td>
                                    <td>{{asset.osrelease}}</td>
                                    <td>
                                        <table ng-if="checkType(asset['allowed_groups'])==='str'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr>
                                            <td>{{ asset['allowed_groups'] }}</td>
                                         </tr>
                                        </table>
                                    <table ng-if="checkType(asset['allowed_groups'])==='arr'">
                                         <tr>
                                            <th class="text-center"></th>
                                         </tr>
                                         <tr ng-repeat="item in asset['allowed_groups'] track by $index">
                                            <td>{{ item }}</td>
                                         </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="/asset.ejs">
        <div id="custom-page-wrapper" ng-repeat="asset in this_asset track by $index">
            <div class="panel panel-default {{envClass}}">
                <div class="panel-heading text-center">
                    {{env}}{{asset.host}}
                </div>
            </div>
            <div class="col-lg-6" ng-repeat="asset in this_asset track by $index">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        Attributes
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" id="data">

                                <tbody ng-repeat="(key, val) in asset">
                                    <tr ng-class='{"info":$index%2==0}'>
                                        <td>{{key}}</td>
                                        <td ng-if="checkType(val)==='str'">{{val}}</td>
                                        <td class="dropdown" ng-if="checkType(val)==='arr'">
                                        <b class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><button type="button" class="btn btn-primary btn-xs">List</button><span class="caret"></span></b>
                                        <ul class="dropdown-menu">
                                        <li ng-repeat="item in val track by $index"><a>{{item}}</a></li>
                                        </ul>
                                        </td>
                                        <td class="dropdown" ng-if="checkType(val)==='dict'">
                                        <b class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><button type="button" class="btn btn-primary btn-xs">Dict</button><span class="caret"></span></b>
                                        <ul class="dropdown-menu">
                                        <li ng-repeat="(key, val) in val"><a>{{key}}: {{val}}</a></li>
                                        </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>


            <div class="col-lg-6" ng-repeat="pillar in this_pillar track by $index">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        Links
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body text-center">
                        <a href="https://splunk.genevatrading.com/en-US/app/infrastructure_app/linux_overview?form.search_host={{id}}"><button type="button" class="btn btn-outline btn-primary btn-md">Splunk</button></a>
                        <a href='#/jobs?id={{asset.minion}}'><button type="button" class="btn btn-outline btn-primary btn-md" ng-click="accessJobs()">View All Jobs</button></a>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        Editable Fields
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">

                                <tbody ng-repeat="(key, val) in pillar">
                                    <tr ng-class="colorRow(val,$index,false)">
                                        <td>{{key}}</td>
                                        <td ng-if="checkType(val)==='str'">
                                        {{existing_lists[key]}}
                                        </td>
                                        <td ng-if="checkType(val)==='arr'">
                                        <div class="col-xs-6">
                                            <select required id="rem" ng-model="selected" ng-click="collectElems(selected, true)" ng-attr-size="{{val.length+1}}" multiple>
                                                <option disabled value="">-- choose one --</option>
                                                <option id="opt" ng-repeat="item in existing_lists[key] track by $index" value="{&quot;{{item+','+key}}&quot;: {{$index}}}">{{item}}</option>
                                            </select> 
                                        </div>
                                        </td>
                                        <td ng-if="checkType(val)==='str'">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <form ng-submit="updateVal(key, val, index, value, false, false)" method="POST">
                                                    <input class="form-control" type="hidden" name="host" value={{pillar._id}}>
                                                    <input class="form-control" type="hidden" name="key" value={{key}}>
                                                    <div class="col-xs-1">
                                                    <button type="submit" class="btn btn-primary btn-xs center-block">Change</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        </td>
                                        <td ng-if="checkType(val)==='arr'">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <form ng-submit="updateVal(key, val, index, value, true, false)" method="POST">
                                                    <input class="form-control" type="hidden" name="host" value={{pillar._id}}>
                                                    <input class="form-control" type="hidden" name="key" value={{key}}>
                                                    <div class="col-xs-1">
                                                    <button class="btn btn-primary btn-xs center-block" id="{{'addBut'+$index}}" type="submit">&nbsp&nbsp&nbspAdd&nbsp&nbsp&nbsp</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6 center">
                                                <span class="fa fa-long-arrow-left"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <form ng-submit="updateVal(key, val, index, value, false, true)" method="POST">
                                                    <input class="form-control" type="hidden" name="host" value={{pillar._id}}>
                                                    <input class="form-control" type="hidden" name="key" value={{key}}>
                                                    <div class="col-xs-1">
                                                        <button class="btn btn-primary btn-xs center-block" id="{{'remBut'+$index}}" type="submit">Remove</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6 center">
                                                <span class="fa fa-long-arrow-right"></span>
                                            </div>
                                        </div>
                                        </td>
                                        <td>
                                        <div class="col-xs-6">
                                            <select required id="add" ng-if="checkType(val)==='arr'" ng-model="selected" ng-click="collectElems(selected, false)" ng-attr-size="{{acc_lists[key].length+1}}" multiple>
                                                <option disabled value="">-- choose one --</option>
                                                <option ng-repeat="item in acc_lists[key] track by $index" value="{&quot;{{item+','+key}}&quot;: {{$index}}}">{{item}}</option>
                                            </select>
                                            <select  ng-if="checkType(val)==='str'" ng-model="selected" ng-change="collectElems(selected)">
                                                <option disabled value="">-- choose one --</option>
                                                <option ng-repeat="item in acc_lists[key] track by $index" value="{&quot;{{item+','+key}}&quot;: {{$index}}}">{{item}}</option>
                                            </select> 
                                        </div>
                                        </td>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <div class="panel-heading text-center">
                        <button class="btn btn-outline btn-primary btn-md" ng-click="grabModalVals(key, val)" data-toggle="modal" data-target="#myModal">Save Changes</button>
                        <button class="btn btn-outline btn-primary btn-md" ng-click="reset()">Reset</button>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-1">
                           <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{message}}
                                            <li class="list-unstyled" ng-repeat="(key,val) in data track by $index">{{key}}: {{val}}</li>
                                        </div>
                                        <div class="modal-footer">
                                            <button ng-if=disabled type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
                                            <button ng-if=enabled type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button ng-if=enabled type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveChanges()">Confirm</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        </form>
                    </div>
                </div>                                                    
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="/jobs.ejs">
        <div id="custom-page-wrapper">
            <div class="col-lg-12 text-center" ng-repeat="job in this_job | limitTo:1 track by $index">
            <h2>Salt job results for {{job.id}}</h2>
            </div>
            <br></br>
            <div class="col-lg-12 panel-group" id="accordian" ng-repeat="job in this_job track by $index">
                <div ng-if=jobStatus(job) class="panel panel-default">
                    <div class="panel-heading text-center" data-toggle="collapse" data-parent="#accordian" data-target="#collapse{{$index}}">
                        <a class ="accordian-toggle">Function: {{job.fun}}&nbsp&nbsp&nbspTimestamp: {{job._stamp}}&nbsp&nbsp&nbspReturn Code: {{job.retcode}}</a>&nbsp<span class="fa fa-caret-down"></span>
                    </div>
                    <!-- /.panel-heading -->
                    <div id="collapse{{$index}}" class="panel-body panel-collapse collapse">
                        <div class="table-responsive">
                            <table class="table">
                               <tbody ng-repeat="(key, val) in job track by $index">
                                    <tr ng-class='{"info":$index%2==0}'>
                                        <td>{{key}}</td>
                                        <td><pre>{{val}}</pre></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div ng-if=!jobStatus(job) class="panel panel-default panel-danger">
                    <div class="panel-heading text-center" data-toggle="collapse" data-parent="#accordian" data-target="#collapse{{$index}}">
                        <a class ="accordian-toggle">{{job.fun}}&nbsp&nbsp&nbsp{{job._stamp}}&nbsp&nbsp&nbsp{{job.retcode}}</a>&nbsp<span class="fa fa-caret-down"></span>
                    </div>
                    <!-- /.panel-heading -->
                    <div id="collapse{{$index}}" class="panel-body panel-collapse collapse">
                        <div class="table-responsive">
                            <table class="table">
                               <tbody ng-repeat="(key, val) in job track by $index">
                                    <tr ng-class='{"info":$index%2==0}'>
                                        <td>{{key}}</td>
                                        <td><pre>{{val}}</pre></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </script>
</html>
